apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - batch
  resources:
  - cronjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubedr.catalogicsoftware.com
  resources:
  - backuplocations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubedr.catalogicsoftware.com
  resources:
  - backuplocations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kubedr.catalogicsoftware.com
  resources:
  - metadatabackuppolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubedr.catalogicsoftware.com
  resources:
  - metadatabackuppolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kubedr.catalogicsoftware.com
  resources:
  - metadatabackuprecords
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubedr.catalogicsoftware.com
  resources:
  - metadatabackuprecords/status
  verbs:
  - get
  - patch
  - update
