# Based on gopkg.in/yaml.v2 K8S YAML standard

extends: default

rules:
  document-start: disable
  empty-lines: disable
  indentation:
    indent-sequences: false
  line-length:
    level: warning
    max: 120
