---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.2
  creationTimestamp: null
  name: backuplocations.kubedr.catalogicsoftware.com
spec:
  group: kubedr.catalogicsoftware.com
  names:
    kind: BackupLocation
    listKind: BackupLocationList
    plural: backuplocations
    singular: backuplocation
  scope: ""
  validation:
    openAPIV3Schema:
      description: BackupLocation is the Schema for the backuplocations API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: BackupLocationSpec defines the desired state of BackupLocation
          properties:
            bucketName:
              description: kubebuilder:validation:MinLength:=1
              type: string
            credentials:
              description: name of the secret kubebuilder:validation:MinLength:=1
              type: string
            url:
              description: kubebuilder:validation:MinLength:=1
              type: string
          required:
          - bucketName
          - credentials
          - url
          type: object
        status:
          description: BackupLocationStatus defines the observed state of BackupLocation
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
